:root{
    font-size: 64.5%;
    --mainFont: "Roboto";
    --secondaryFont: "Oswald";
    --darkPurple: #313866;
    --purple: #504099;
    --pinkPurple: #974EC3;
    --pink: #FE7BE5;
    --darkPink: #fe7be6ab;
    --green: #01c9b6;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    font-family: 'Roboto';
}
/* ------------------------------------------------------------------------------------------ */
.width-fit{
    width: fit-content;
}

.bgImg{
    position: fixed;
    opacity: 0.03;
    z-index: -1;
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom, #313866, #353a70, #3a3c7a, #3f3e84, #463f8d, #4e4195, #57439d, #6144a4, #6e47ac, #7b4ab4, #894cbc, #974ec3);
}
.fa-circle-chevron-up{
    font-size: 5rem !important;
}
h1{
    font-size: 5rem;
    width: fit-content;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2.5rem;
}
h1,h2,h3{
    font-weight: 700;
}
/* ------------------------------------------------------------------------------------------ */
.dark-nav{
    background-color: var(--darkPurple) !important;
}
.transp-nav{
    background-color: transparent !important;
}
.navbar{
    padding: 3vh 5vh!important;
}

.navbar-brand{
    font-weight: 900;
    font-size: 2.5rem;
}
.nav-link{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 2.5vh !important;
    align-self: flex-end;
}
.navbar-brand, .nav-link, .navbar-brand:active, .nav-link:active {
    color: white;
}
.navbar-brand:hover, .nav-link:hover{
    color: var(--pink);
}
.navbar-toggler-icon, .navbar-toggler-icon:active{
    color: white;
    font-size: 2rem;
}
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:not([collapsed]){
    outline: none;
    border: none !important;
    box-shadow: none !important;
    --bs-navbar-toggler-icon-bg: "";
    padding: 0 !important;
}
/* ------------------------------------------------------------------------------------------ */

section{
    color: white;
    padding: 5vh 0;
}
@media (max-width:600px) {
    .sect-cont{
        width: 80vw !important;
    }
}
/* ------------------------------------------------------------------------------------------ */

.lat-icon{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
.lat-icon:hover{
    color: var(--green);
}


.op50{
    opacity: 0.5;
}
.btn-container{
    width: fit-content;

}
.btn-start{
    margin-top: 2vh;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    padding: 1vh 3vh;
    border-radius: 1vh;
}
.btn-highlight{
    background-color: white;
    color: var(--darkPurple);
}
.btn-highlight:hover{
    background-color: var(--green);
    color: white;
}
.btn-highlight:active{
    background-color: transparent !important;
    color: white !important;
}

/* ------------------------------------------------------------------------------------------ */

.about-skills{
    width: fit-content !important;
}
.about-parag{
    font-size: 1.6rem;
}

/* ------------------------------------------------------------------------------------------ */

.proj-tipo, .proj-stack{
    font-size: 1.2rem;
    opacity: 0.8;
}

.proj-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.proj-desc{
    font-size: 1.5rem;
    text-align: justify !important;
}
.py-5{
    width: fit-content !important;
}
.no-dec{
    text-decoration: none !important;
    color: white !important;
}
/* ------------------------------------------------------------------------------------------ */
.MuiSnackbarContent-message{
    font-size: 1.5rem;
}

.contact-parag{
    font-size: 1.8rem;
}
.email-copy{
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5rem;
    --bs-gutter-x: 0 !important;
}
.icon-contact {
    font-size: 2rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------ */
footer{
    color: white;
}

/* ------------------------------------------------------------------------------------------ */
@media (min-width: 990px){
    section{
        margin: 10vh 0 !important;
    }
    .intro-parag{
        font-size: 2.1rem;
        width: 60%;
    }
    .proj-l{
        text-align: right !important;
        justify-content: end !important;
    }
}
@media (max-width: 990px) {
   
    .r-nav-link{
        align-self: flex-end;
        padding: 0 !important;
        margin-bottom: 1vh;
    }
    .resp-start {
        text-align: center;
        margin: 0 auto !important;
    }
    .start-col{
        margin-bottom: 2vh !important;
    }
    .resp-about{
        text-align: justify !important;
        width: fit-content;
        margin: 0 auto;
    }
    .skills-1{
        margin: 5vh auto!important;
    }
    .intro-parag{
        font-size: 2.1rem;
        width: 80%;
    }
    .resp-center{
        text-align: center;
    }
    .resp-center-1{
        margin-top: 3vh;
    }
    .proj{
        margin: 0 auto;
    }
    .proj-tipo, .proj-desc{
        margin-top: 1vh;
        text-align: left !important;
        justify-content: flex-start;
    }
    
}
@media (max-width:768px){
    .resp-proj{
        width: 100% !important;
        margin: auto !important;
        margin-top: 5vh !important;
    }
    .sect-cont{
        width: 90% !important;
    }
    .proj-img{
        width: 100% !important;
        margin: 0 auto !important;
    }
}
@media (max-width:600px) {
    .lat-icon-bar{
        width: fit-content !important;
        position: static !important;
        display: flex;
        margin: 0 auto !important;
        column-gap: 2vh;
        >.lat-icon{
            margin: 0 auto 3vh !important;
            width: 50% !important;
            margin-right: 2vh;
        }
    }
    .start-col{
        margin: 0 auto 2vh !important;
    }
}

